
<style>
.progress {
  background-color: #C8E1ED;
}
.bar {
  background-color: #2897cb;
  color: white;
  text-shadow: 0 0 0;
}
.message {
  text-shadow: 0 0 5px white;
  font-weight: bold; padding-left: 4px;
  color: #333;
}
.actions {
  text-align: center;
}
.header {
  text-align: center;
}
.header_update_time {
  width: 10%;
}
.header_pct_complete {
  width: 45%;
}
.btn-warning {
  background-image: linear-gradient(#f0ad4e, #eea236)
}
</style>

<h3 class="wi">Recent job statuses</h3>
<table class="table table-hover table-bordered table-striped table-white">
  <tr>
    <% @headers.each do |h| %>
      <th class="header <%= h[:class] %> header_<%= h[:id] %>">
        <a href="<%= h[:url] %>"><%= h[:name] %></a>
      </th>
    <% end %>
    <th class="header">
      Actions
    </th>
  </tr>
  <% @statuses.each do |container| %>
    <tr>
      <td>
        <div title='<%= container.jid %>'><a href="<%= root_path %>statuses/<%= container.jid %>"><%= container.worker %></a></div>
      </td>
      <td>
        <div class='args' title='<%= container.jid %>'><%= container.args %></div>
      </td>
      <td style='text-align: center;'>
        <div class='label label-<%= container.label %>'><%= container.status %></div>
      </td>
      <% secs = Time.now.to_i - container.update_time.to_i %>
      <td style='text-align: center; white-space: nowrap;' title="<%= Time.at(container.update_time.to_i) %>">
        <% if secs > 0 %>
          <%= ChronicDuration.output(secs, :weeks => true, :units => 2) %> ago
        <% else %>
          Now
        <% end %>
      </td>
      <td>
        <div class="progress progress-striped" style="margin-bottom: 0">
          <div class='message' style='text-align:right; padding-right:0.5em; background-color: transparent; float:right;'>
            <%= container.message %>
          </div>
          <% if container.pct_complete.to_i > 0 %>
            <div class="bar message" style="width: <%= container.pct_complete %>%;">
              <%= container.pct_complete %>%
            </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="actions">
          <form action="statuses" method="post">
            <input type="hidden" name="jid" value="<%= container.jid %>" />
            <%= csrf_tag %>
            <% if container.status == "complete" %>
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" class="btn btn-danger btn-xs" value="Remove" />
            <% elsif container.status == "failed" %>
              <input type="hidden" name="_method" value="put" />
              <input type="submit" class="btn btn-warning btn-xs" value="Retry Now" />
            <% end %>
          </form>
        </div>
      </td>
    </tr>
  <% end %>
  <% if @statuses.empty? %>
    <tr>
      <td colspan="6"></td>
    </tr>
  <% end %>
</table>
