<style>
.sorted_asc:after{
  content: " ↑";
}
.sorted_desc:after{
  content: " ↓";
}
</style>

<h3 class="wi">Recent job statuses</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th><%= link_to 'Worker/jid', url_for(params.merge({:sort_by => "worker", :sort_dir => (@sort_by == "worker" && @sort_dir == "asc" ? "desc" : "asc") }) ), class: (@sort_by == "worker" ? "sorted_#{@sort_dir}" : "") %></th>
    <th><%= link_to 'Status', url_for(params.merge({:sort_by => "status", :sort_dir => (@sort_by == "status" && @sort_dir == "asc" ? "desc" : "asc") }) ), class: (@sort_by == "status" ? "sorted_#{@sort_dir}" : "") %></th>
    <th><%= link_to 'Last Updated', url_for(params.merge({:sort_by => "update_time", :sort_dir => (@sort_by == "update_time" && @sort_dir == "asc" ? "desc" : "asc") }) ), class: (@sort_by == "update_time" ? "sorted_#{@sort_dir}" : "") %></th>
    <th><%= link_to 'Progress', url_for(params.merge({:sort_by => "pct_complete", :sort_dir => (@sort_by == "pct_complete" && @sort_dir == "asc" ? "desc" : "asc") }) ), class: (@sort_by == "pct_complete" ? "sorted_#{@sort_dir}" : "") %></th>
    <th><%= link_to 'Message', url_for(params.merge({:sort_by => "message", :sort_dir => (@sort_by == "message" && @sort_dir == "asc" ? "desc" : "asc") }) ), class: (@sort_by == "message" ? "sorted_#{@sort_dir}" : "") %></th>
  </tr>
  <% @statuses.each do |container| %>
    <tr>
      <td>
          <%= container.worker %>
          <br />
          <%= container.jid %>
      </td>
      <td><%= container.status %></td>
      <td><%= Time.at(container.update_time.to_i) %></td>
      <td>
        <div class="progress progress-striped" style="margin-bottom: 0">
          <div class="bar" style="width: <%= container.pct_complete %>%; text-shadow: 1px 1px 1px black; background-color: #AD003D;
color: white;">
            <%= container.pct_complete %>%
          </div>
        </div>
      <td><%= container.message %></td>
    </tr>
  <% end %>
  <% if @statuses.empty? %>
    <tr>
      <td colspan="6"></td>
    </tr>
  <% end %>
</table>
