<style>
.sorted_asc:after{
  content: " ↑";
}
.sorted_desc:after{
  content: " ↓";
}
</style>

<h3 class="wi">Recent job statuses</h3>
<table class="table table-striped table-bordered">
  <tr>
    <% @headers.each do |header| %>
      <th><a href="<%= header[:url] %>" class="<%= header[:class] %>"><%= header[:name] %></a></th>
    <% end %>
  </tr>
  <% @statuses.each do |container| %>
    <tr>
      <td>
          <%= container.worker %>
          <br />
          <%= container.jid %>
      </td>
      <td><%= container.status %></td>
      <td><%= Time.at(container.update_time.to_i) %></td>
      <td>
        <div class="progress progress-striped" style="margin-bottom: 0">
          <div class="bar" style="width: <%= container.percent_complete %>%; text-shadow: 1px 1px 1px black; background-color: #AD003D;
color: white;">
            <%= container.percent_complete %>%
          </div>
        </div>
      <td><%= container.message %></td>
    </tr>
  <% end %>
  <% if @statuses.empty? %>
    <tr>
      <td colspan="6"></td>
    </tr>
  <% end %>
</table>
